<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="trackSubscriber" type="Space48\SubTech\Plugin\TrackSubscriber" sortOrder="1" disabled="false"/>
    </type>
</config>