<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_save_after">
        <observer name="set_basket_xml_cookie" instance="Space48\SubTech\Observer\SalesQuoteSaveAfterObserver" />
    </event>
    <event name="customer_customer_authenticated">
        <observer name="set_customer_data_cookie" instance="Space48\SubTech\Observer\CustomerLoginSuccessObserver" />
    </event>
    <event name="customer_address_save_after">
        <observer name="set_customer_data_address_cookie" instance="Space48\SubTech\Observer\CustomerAddressSaveAfterObserver" />
    </event>
    <event name="customer_register_success">
        <observer name="set_customer_data_cookie" instance="Space48\SubTech\Observer\CustomerRegisterSuccessObserver" />
    </event>
</config>
